
.box {
    width: 300px;
    height: 300px;
    border: 2px solid violet;
    overflow:auto;
    overflow-x: hidden;  
}

.ellipsis{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 5px solid silver;
    margin-top: 20px;
}